// Navigation Styles here

.main-navigation {
    display       : flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px dashed @silver;

    h1{
        margin: 0 30% 0 13%;
    }

    a {
        justify-content: flex-end;
        text-decoration: none;
        color          : black;
        font-size: 2rem;
        border: 1px solid black;
    }

}